*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #000;
}

.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #bbb;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    gap:10px;
}

.painel{
    display: flex;
    flex-direction: column;
    background-color: #888;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    gap:10px;
}

.mensagem{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: #ddd;
    width: 100%;
    font-size: small;
    font-weight: bold;
}

.dataMensagem{
    font-size:xx-small;
    font-weight: normal;
}

.textoMensagem{
    font-weight: normal;
}

.campoForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campoForm input{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.campoForm textarea{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

button{
    background-color: #008;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.led{
    border: 4px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.led_desconectado{
    background-color: #888;
}

.led_conectando{
    background-color: #f80;
}

.led_erro{
    background-color: #c00;
}

.led_conectado{
    background-color: #0c0;
}